

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
  box-sizing: border-box;
}
body{
  background-color: #b8c6db;
  background-image: url(BG2.jpg   );
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.quiz-container{
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 500px;
  overflow: hidden;
}
.quiz-header{
  padding: 4rem;
}
h1{
  padding: 1rem;
  text-align: center;
  margin: 0;
}
h2{
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul{
  list-style-type: none;
  padding: 0;
}
ul li{
  font-size: 1.2rem;
  margin: 1rem 0;
}
ul li label{
  cursor: pointer;
}
#submit{
  background-color: #ffcb29;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}
#submit:hover{
  background-color: #e4b014;
}
#submit:focus{
  outline: none;
  background-color: #61d345;
}

.button1{
  margin: 20px 10px 30px 10px;
  height: 45px;
  width: 150px;
  font-size: 50px;
  font-weight: bold;
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #ffcb29;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  }
  .button1:hover{
  background: #e4b014;
  color:rgb(255, 247, 247);
  }